.search-term-input-container {
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
}

.search-term-input {
  width: 70%;
  padding: 5px;
}

.search-term-tally-container {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
}

.search-term-display-container {
    width: 50%;
}

.search-term-count-container {
    width: 40%;
}

label {
    font-weight: bold;
}
